	

	.core .button {
		padding: 1rem;
		text-transform: uppercase;
		text-decoration: none;
		color: white;
		background-color: green;
		&:hover {
			background-color: lightGreen;
			}
		}

// used on view and register

	.card-grid.card-grid {
@include breakpoint(small) {	
		@include grid-context($tpl-cols: repeat(2, 1fr));
}	
@include breakpoint(medium) {		
		grid-template-columns: repeat(4, 1fr);
		&.column.is-half-desktop {
			width: auto;
			}
		}
}


// align CTA buttonsd on register
.user-role-cta {
@include breakpoint(medium) {
	display: flex;
	flex-direction: column;
	p {
		flex-grow: 1;
		}
	.button.button {
		display: block;
		}	
}
	}

	// .node--type-landing-page div div div {
	// 	margin: 2rem 0;	
	// 	}

	#block-placemaking-account-menu a {
		display: block;
		padding: 0.5em;
	}
	
	.dialog-off-canvas-main-canvas > .footer {
		background-color: lightGray;
		padding-top: 1rem;
		}	



//  ACTIVATOR DASH

.content-main.content-main .block-semantique-activator-dashboard {
	grid-column: 1 / -1;
	border: $border-style-action;
	padding: $global-padding;
	}

// about callout is double width for now
.content-main > .block-aboutcallout {
	grid-column: span 2;
	}





//  IMAGE / MAP CONTENT
.hero.hero,
.activation-events-map,
.paragraph--type--image {
	margin-bottom: $global-gutter;
	}


//  EVENT PAGE LAYOUTS

// avoid an extra grid row - grid don't need no floaty cleariness
.ds-3col-stacked.clearfix::before {
	display:none;
	}


.ds-3col-stacked,
.user-form {

@include breakpoint(medium) {
	@include grid-context($tpl-cols: repeat(4, 1fr)); 
	> * {
		grid-column: 2 / -2;
		}
	.group-header {
		grid-column: 1 / -1;
		}
	.group-left {
		grid-column: 1 / 2;
		}
	.group-right {
		grid-column: -2 / -1;
		}

} // /BP

}		// /.ds-3col-stacked, .user-form
	
	